absl-py
aiofiles
annotated-types
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
babel
beautifulsoup4
bleach
brotli
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
comm
debugpy
decorator
defusedxml
distro
dotenv
executing
fastapi
fastjsonschema
ffmpy
filelock
flatbuffers
fqdn
fsspec
gast
google-pasta
gradio
gradio-client
griffe
groovy
grpcio
gtts
gym
gym-notices
h11
h5py
hf-xet
httpcore
httpx
httpx-sse
huggingface-hub
idna
ipykernel
ipython
ipython-pygments-lexers
ipywidgets
isoduration
jedi
jinja2
jiter
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-events
jupyter-lsp
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
keras
lark
libclang
llvmlite
markdown
markdown-it-py
markupsafe
matplotlib-inline
mdurl
mistune
ml-dtypes
more-itertools
mpmath
namex
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook-shim
numba
numpy
openai
openai-agents
openai-whisper @ git+https://github.com/openai/whisper.git@c0d2f624c09dc18e709e37c2ad90c039a4eb72a2
opt-einsum
optree
orjson
packaging
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pycparser
pydantic
pydantic-core
pydantic-settings
pydub
pygments
python-dateutil
python-dotenv
python-json-logger
python-multipart
pytz
pyyaml
pyzmq
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rich
rpds-py
ruamel-yaml
ruamel-yaml-clib
ruff
safehttpx
semantic-version
send2trash
setuptools
shellingham
six
sniffio
soupsieve
sse-starlette
stack-data
starlette
sympy
tensorboard
tensorboard-data-server
tensorflow
termcolor
terminado
tiktoken
tinycss2
tomlkit
torch
tornado
tqdm
traitlets
typer
types-python-dateutil
types-requests
typing-extensions
typing-inspection
tzdata
uri-template
urllib3
uvicorn
wcwidth
webcolors
webencodings
websocket-client
websockets
werkzeug
wheel
widgetsnbextension
wrapt
